<nav class="nav-bar">
  <span class="logo">
    {{ name }}
    <app-help> {{' {{ name '}} }}</app-help>
  </span>
  <div class="nav-links">
     <a routerLink="destinations" routerLinkActive="active">
      Destinations
      <app-help [iconStyle]="{ 'left.px': -25 }"> routerLink=<br>"destinations" </app-help>
    </a>
    <a routerLink="contact" routerLinkActive="active">
      Contact
    </a>
  </div>
</nav>

<mat-icon class="display-structure" (click)="displayStruct()">visibility</mat-icon>

<router-outlet></router-outlet>